*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: teal;
}

#higherul, #lowerul{
    list-style: none;
}

#lowerul{
    background-color: teal;
    margin-left: 10px;
    padding: 10px 10px 5px 10px;
    border-radius: 5px;
}
#higherlistrow{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;

}

#lowerlistrow{
    color: white;
    padding-bottom: 8px;
    width: 100;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;



}